.select-container {
  position: relative;
  display: inline-block;
}

.select-trigger {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 400px;
}

.dropdown-item {
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
